<%- include('partials/header') -%>

<main class="container">

    <div class="row justify-content-around mt-5">
    <h1 class="title">Risk of Rain Web API</h1>
    <span>This is for any person who wants to build web apps, or need to look up info for items!</span>
    </div>

    <div class="row justify-content-around mt-5">
        <p>Below are all of the routes that you will need  to access information about the items and survivors. If you want to access the APi you will need to add a /api in the front.</p>
        <div>
            <span>To get all of the actual objects, use this! For Example: URL/api/items/common</span>
            <span>If you want to just look up the stats, ditch the /api. For Example: URL/items </span>
        </div>
    </div>




<div id= "itemContainer" class = "row justify-content-around mt-3">
    
    <div class="row justify-content-around mt-5">
        <h3>This will bring all of the Items</h3>
        <span>/everyItem</span>
    </div>
        <div class="row justify-content-around mt-5">
            <h3>Common/White Items</h3>
            <span>/commonItems </span>
        </div>
        <div class="row justify-content-around mt-5">
            <h3>Uncommon/Green Items</h3>
            <span>/uncommonItems </span>
        </div>
        <div class="row justify-content-around mt-5">
            <h3>Legendary/Red Items</h3>
            <span>/legendaryItems </span>
        </div>
        <div class="row justify-content-around mt-5">
            <h3>Equipment/Orange Items</h3>
            <span>/equipmentItems </span>
        </div>
        <div class="row justify-content-around mt-5">
            <h3>You probably spent 50% health for these and want to know what changed on your items.</h3>
            <span>/voidItems </span>
        </div>
        <div class="row justify-content-around mt-5">
            <h3>Risky aren't you?</h3>
            <span>/lunarItems </span>
        </div>
        <div class="row justify-content-around mt-5">
            <h3>Crushed a boss and need to know what the item does?</h3>
            <span>/bossItems </span>
        </div>
        <div class="row justify-content-around mt-5">
            <h3>You probably want to get a specific item. Use this!</h3>
            <span>/items('the item name') </span>
        </div>
</div>
<div id= "itemContainer" class = "row justify-content-around mt-3">
    <div class="row justify-content-around mt-5">
        <h3>Bring up all of the survivors!</h3>
        <span>/survivors </span>
    </div>
</div>

</main>
    

<%- include('partials/footer') -%>