body{
    background-color: black;
    color: bisque;
}
#navBarHolder{
    width: 80%;
    padding: 2% 0;
    position: fixed;
}
.title{
    align-self: center;
    padding: 7% 0;
}
#navBar *{
    padding: 0 1%;
}
li{
    margin: 5%;
    background-color: rgba(22, 116, 24, 0.392);
    padding: 15px;
}
.howTo{
    border: 2px solid white;
    justify-content: center;
    margin: 50%;
}
tbody{
    width: 100%;
}
tr{
    margin: auto;
    padding: 10px 0;
    border-width: 2px;
}