body{
    background-color: black;
    color: bisque;
}
#navBarHolder{
    width: 75%;
    padding: 2% 0;
    position: fixed;
}
.title{
    align-self: center;
    padding: 7% 0;
}

li{
    margin: 5%;
    background-color: rgba(22, 116, 24, 0.392);
    border: 3px purple;
    padding: 15px;
}
.howTo{
    border: 2px solid white;
    justify-content: center;
    margin: 25%;
}
tbody{
    width: 100%;
}
tr{
    margin: auto;
    padding: 10px 0;
    border-width: 2px;
}

@media screen and (max-width:530px){
/* body{ */
    /* background-color: blue; */
/* } */
    .howTo{
    margin:50%
}
#navBar{
    margin-bottom: 25px;
}
}